# tmp
.idea
.DS_Store

# lib
node_modules

# build
# **/*.js
# **/*.js.map
# **/*.d.ts
dist
*.zip
# Ignorar archivos de datos de MySQL
data/mysql.sock
data/*.cnf
data/binlog.index
data/ib_buffer_pool
