body {
  margin: 4rem auto;
  padding: 0 2rem;
  background-color: #f9f9fb;
}
main {
  width: 100%;
}
.status-bar {
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffff;
  background-color: #335dff;
}

.status-bar input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  text-align: right;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffff;
}

.status-bar span {
  flex: 1;
  display: flex;
  align-items: center;
  color: #ffff;
}
